* {
  padding: 0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-panel {
  background-color: transparent;
  height: 70px;
  width:100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

.header-logo {
  height:40px;
  width:220px;
  margin-left: 70px;
  margin-top: 20px;
  align-self: flex-start;
}

.logo {
  background-image: url("Logonetflix.png");
  height:60px;
  width: 200px;
  background-size: cover;
}

.header-panel select {
  height:30px;
  width:100px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  align-self: center;
  border-radius: 4px;
  margin-left: 900px;
  margin-top: 20px;
  margin-right: 30px;
  align-self: flex-start;
}

.header-panel select:hover {
  cursor: pointer;
  border:1px solid white;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.header-panel button {
  height:30px;
  width: 70px;
  align-self: center;
  background-color: red;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border:none;
  border-radius:4px;
  margin-right: 120px;
  margin-left: -20px;
  margin-top: 20px;
  align-self: flex-start;
}
.header-panel button:hover {
  cursor: pointer;
  background-color: rgb(181, 3, 3);
  transition: 0.50s;
}

.back-img {
  background-image: url("WhatsApp\ Image\ 2026-02-12\ at\ 12.41.06\ PM.jpeg");
  background-size: cover;
  height: 700px;
  width:100vw;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
}

.para {
  color: white;
  display:inline-block;
  margin-right: 400px;
  margin-left: 430px;
  margin-top: 50px;
}

.p1 {
  font-size: 60px;
  font-weight: bolder;
}

.p3 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-left: 90px;
  padding-top: 20px;
}

.p4 {
  padding-top: 40px;
}

.search-bar {
  height:50px;
  width:200px;
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  height :45px;
  width:320px;
  padding-right: 170px;
  padding-left: 30px;
  margin-left: -180px;
  margin-top: -70px;
  background-color: black;
  border: 2px solid grey;
  border-radius: 4px;
} 

.search-bar button {
  height :48px;
  width:200px;
  margin-top: -70px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: red;
  text-align:start;
  white-space:nowrap;
  border:none;
  border-radius: 4px;
  padding-right: 90px;
  padding-left: 20px;
  border:none;
  margin-left: 10px;
} 

.search-bar button:hover {
  cursor: pointer;
  background-color: rgb(181, 3, 3);
  transition: 0.50s;
}

.content2-bar {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  color: white;
  height: 1900px;
}

.content2-bar h2 {
  text-align:start;
  padding-top: 120px;
  padding-left: 140px;
}
.posters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img1 {
  background-image: url("Dhurandhar_poster.jpg");
  background-size: cover;
  height: 250px;
  width:180px;
  border-radius: 7px;
  margin-left: 120px;
  margin-top: 30px;
}
.img1 p {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 100px;
  margin-left: -25px;
  margin-top: 150px;
}
.img1:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.3s;
}

.img2 {
  background-image: url("tereishqmein.jpg");
  background-size: cover;
  height: 250px;
  width:180px;
  border-radius: 7px;
  margin-left: -40px;
  margin-top: 30px;
}
.img2 p {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 100px;
  margin-left: -20px;
  margin-top: 150px;
}
.img2:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.3s;
}

.img3 {
  background-image: url("Jolly_LLB_3_poster.jpg");
  background-size: cover;
  height: 250px;
  width:180px;
  border-radius: 7px;
  margin-left: -40px;
  margin-top: 30px;
}
.img3 p {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 100px;
  margin-left: -20px;
  margin-top: 150px;
}
.img3:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.3s;
}

.img4 {
  background-image: url("strangerthings.jpg");
  background-size: cover;
  height: 250px;
  width:180px;
  border-radius: 7px;
  margin-left: -40px;
  margin-top: 30px;
}
.img4 p {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 100px;
  margin-left: -15px;
  margin-top: 150px;
}
.img4:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.3s;
}

.img5 {
  background-image: url("kapil.jpg");
  background-size: cover;
  height: 250px;
  width:180px;
  border-radius: 7px;
  margin-left: -40px;
  margin-right: 80px;
  margin-top: 30px;
}
.img5 p {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 100px;
  margin-left: -20px;
  margin-top: 150px;
}
.img5:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.3s;
}

.reasons {
  height: 270px;
  width: 1200px;
  margin-top: 50px;
  margin-left: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reason1 {
  background-color: #1e0042;
  height: 270px;
  width:290px;
  border-radius: 20px;
}
.reason1:hover {
  cursor: pointer;
}
.reason1 h2{
 margin-top: -95px;
 margin-left: -120px;
 display: block;
}
.reason1 p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  color: #c0bdbd;
  font-weight: bold;
  display: block;
}
.min-logo {
  height:40px;
  width: 40px;
  padding-left: 130px;
  padding-top: 40px;
  transform: scale(2.6);
}

.reason2 {
  background-color: #190434;
  height: 270px;
  width:290px;
  border-radius: 20px;
}
.reason2:hover {
  cursor: pointer;
}
.reason2 h2{
 margin-top: -95px;
 margin-left: -120px;
 display: block;
}
.reason2 p {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 20px;
  color: #c0bdbd;
  font-weight: bold;
  display: block;
}

.reason3 {
  background-color: #1e0042;
  height: 270px;
  width:290px;
  border-radius: 20px;
}
.reason3:hover {
  cursor: pointer;
}
.reason3 h2{
 margin-top: -95px;
 margin-left: -120px;
 display: block;
}
.reason3 p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  color: #c0bdbd;
  font-weight: bold;
  display: block;
}

.reason4 {
  background-color: #190434;
  height: 270px;
  width:290px;
  border-radius: 20px;
}
.reason4:hover {
  cursor: pointer;
}
.reason4 h2{
 margin-top: -95px;
 margin-left: -130px;
 display: block;
}
.reason4 p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  color: #c0bdbd;
  font-weight: bold;
  display: block;
}

.questions {
  height:600px;
  width: 1400px;
  margin-left: 70px;
  margin-top:15px;
  /* display: flex; */
}
.question1 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-left: 60px;
  margin-bottom: 5px;
  display: block;
}
.question1:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question1 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}
.plus {
  margin-left: 1170px;
  transform: scale(2);
  margin-top: -72px;
}

.question2 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-bottom: 5px;
  margin-left: 60px;
  display: block;
}
.question2:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question2 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}

.question3 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-left: 60px;
  display: block;
  margin-bottom: 5px;
}
.question3:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question3 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}

.question4 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-left: 60px;
  display: block;
  margin-bottom: 5px;
}
.question4:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question4 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}

.question5 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-left: 60px;
  margin-bottom: 5px;
  display: block;
}
.question5:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question5 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}

.question6 {
  background-color: rgb(45, 44, 44);
  height:90px;
  width:1250px;
  margin-left: 60px;
  margin-bottom: 5px;
  display: block;
}
.question6:hover {
  cursor: pointer;
  background-color: rgb(82, 81, 81);
}
.question6 p {
  font-size: 25px;
  padding-top: 30px;
  padding-left:30px;
}

.para-down {
  margin-left: 500px;
  margin-top: 50px;
}
.search-bar2 {
  height:50px;
  width:200px;
  margin-left: 660px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.search-bar2 input {
  height :45px;
  width:320px;
  padding-right: 400px;
  padding-left: 30px;
  margin-left: -300px;
  margin-top: -70px;
  background-color: rgb(26, 26, 26);
  border: 2px solid grey;
  border-radius: 4px;
} 

.search-bar2 button {
  height :48px;
  width:200px;
  margin-top: -70px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: red;
  text-align:start;
  white-space:nowrap;
  border:none;
  border-radius: 4px;
  padding-right: 90px;
  padding-left: 20px;
  border:none;
  margin-left: 10px;
} 

.search-bar2 button:hover {
  cursor: pointer;
  background-color: rgb(181, 3, 3);
  transition: 0.50s;
}

footer {
  height:500px;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  color: rgb(179, 178, 178);
  position: relative;
}
.footer-div {
  height: 450px;
  width:1200px;
  margin-left: 150px;
  padding-top: 30px;
  padding-left: 20px;
  display: block;
}
.fir:hover {
  cursor: pointer;
}
.lists {
  display: flex;
  justify-content: flex-start;
  color: rgb(179, 178, 178);

}
ul {
  list-style: none;
  margin-top: 50px;
}
li {
  margin-bottom: 15px;
  text-decoration: underline;
}
li:hover {
  cursor: pointer;
}
.list2 {
  margin-left:150px;
}
.list3 {
  margin-left:150px;
}
.list4 {
  margin-left:150px;
}
.footer-div select {
  height:30px;
  width:100px;
  background-color: transparent;
  color: rgb(219, 219, 219);
  align-self: center;
  border-radius: 4px;
  margin-left: 50pxpx;
  margin-top: 40px;
  margin-right: 30px;
  align-self: flex-start;
}

.footer-div select:hover {
  cursor: pointer;
  border:1px solid white;
}

.ppp1 {
  margin-top: 40px;
}
.ppp2 {
  font-size: 15px;
  margin-top: 30px;
}
.ppp2 span:hover {
  cursor: pointer;
}